# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Data files
/data/
*.db

# dotenv environment variables file
.env

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
.DS_Store
